<!DOCTYPE html>
<html>
<head>
<style>
div {
  background-color: lightblue;
  border: solid black 1px;
  max-block-size: 60px;
}
</style>
</head>
<body>

<h1>The max-block-size Property</h1>

<div>
  <p>max-block-size: 60px;</p>
  <p>Text to try to expand the box</p>
  <p>Text to try to expand the box</p>
</div>

</body>
</html>